<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisiting Data</title>
</head>

<body>
    <h1>Show Lisitng!</h1>
    <form method="GET" action="/listing/new">
        <button style="background-color: tomato; color: azure;">Add New Hotels</button>
    </form>
    <ul>
        <% for( hotelsDatas of hotelsData) {%>
            <li><a href="/listingData/<%= hotelsDatas._id %>"><%= hotelsDatas.title %></a>
            </li>
        <% } %>
    </ul>

</body>

</html>