<% layout("/layouts/boilerplate.ejs") %>
   
    <body>
        <!-- <h1 style="padding: left 5%;">Show Listing!</h1> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" style= "padding-left: 5%; padding-right: 5%; margin-top: 2%; ">
            <% for( hotelsDatas of hotelsData) {%>
                <a href="/listingData/<%= hotelsDatas._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= hotelsDatas.image.url %>" class="card-img-top" alt="image" style="height: 20rem"
                            ;>

                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= hotelsDatas.title %>
                                </b> <br />
                                ₹<%= hotelsDatas.price.toLocaleString("en-IN") %> per night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>

        <!-- <form method="GET" action="/listing/new">
        <button style="background-color: tomato; color: azure;">Add New Hotels</button>
    </form> -->

    </body>