<% layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-3">
        <h1 class="text-center">SignUp on Hotels Hub</h1>
        <div class="col-6 offset-3">
            <form method="POST" action="/signup" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Enter a valid Username!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Enter a valid Email!</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Password cannot be empty!</div>
                </div>
                <button type="submit"
                    class="btn btn-success mt-3 align-center w-100">SignUp</button><br><br><br><br><br><br><br><br><br>
            </form>
        </div>